.homeContainer {
    background-color: white;
    height: 100%;
}
.cardsContainer {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
}
.loader {
    padding-top: 20rem;
    display: flex;
    justify-content: center;
}