.card {
    max-width: 300px;
    height: auto;
    padding: 1.5rem;
    margin: 1rem;
    background: #ececec;
    transition: all 300ms;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    color: #003049;
}
.card:hover {
    opacity: 0.8;
    transform: scale(1.10);
}
.card > img {
max-width: 200px;
max-height: 100px;
}
.card > h2 {
    padding: 0.8rem;
}